<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp" >

	<!-- Permissions that the app requires -->
	<uses-permission android:name="android.permission.INTERNET" />

	<application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

		<!-- Main activity (entry point of the app) -->
		<activity android:name=".MainActivity">
			<!-- Intent filter to launch the activity as the main entry point -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<!-- Category to launch the app's launcher -->
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

		<!-- Other components like services/receivers can be defined here -->

	</application>

</manifest>
